@charset "UTF-8";
/* width */
.w0 {
  width: 0px; }

.w10 {
  width: 10px; }

.w20 {
  width: 20px; }

.w30 {
  width: 30px; }

.w40 {
  width: 40px; }

.w50 {
  width: 50px; }

.w60 {
  width: 60px; }

.w70 {
  width: 70px; }

.w80 {
  width: 80px; }

.w90 {
  width: 90px; }

.w100 {
  width: 100px; }

.w110 {
  width: 110px; }

.w120 {
  width: 120px; }

.w130 {
  width: 130px; }

.w140 {
  width: 140px; }

.w150 {
  width: 150px; }

.w160 {
  width: 160px; }

.w170 {
  width: 170px; }

.w180 {
  width: 180px; }

.w190 {
  width: 190px; }

.w200 {
  width: 200px; }

.w250 {
  width: 250px; }

.w300 {
  width: 300px; }

.w350 {
  width: 350px; }

.w400 {
  width: 400px; }

.w450 {
  width: 450px; }

.w500 {
  width: 500px; }

.w550 {
  width: 550px; }

.w600 {
  width: 600px; }

.w650 {
  width: 650px; }

.w700 {
  width: 700px; }

.w750 {
  width: 750px; }

.w800 {
  width: 800px; }

.w850 {
  width: 850px; }

.w900 {
  width: 900px; }

.w950 {
  width: 950px; }

.w1000 {
  width: 1000px; }

.wp10 {
  width: 10%; }

.wp20 {
  width: 20%; }

.wp30 {
  width: 30%; }

.wp40 {
  width: 40%; }

.wp50 {
  width: 50%; }

.wp60 {
  width: 60%; }

.wp70 {
  width: 70%; }

.wp80 {
  width: 80%; }

.wp90 {
  width: 90%; }

.wp100 {
  width: 100%; }

/* height */
.h0 {
  height: 0px; }

.h10 {
  height: 10px; }

.h20 {
  height: 20px; }

.h30 {
  height: 30px; }

.h40 {
  height: 40px; }

.h50 {
  height: 50px; }

.h60 {
  height: 60px; }

.h70 {
  height: 70px; }

.h80 {
  height: 80px; }

.h90 {
  height: 90px; }

.h100 {
  height: 100px; }

.h110 {
  height: 110px; }

.h120 {
  height: 120px; }

.h130 {
  height: 130px; }

.h140 {
  height: 140px; }

.h150 {
  height: 150px; }

.h160 {
  height: 160px; }

.h170 {
  height: 170px; }

.h180 {
  height: 180px; }

.h190 {
  height: 190px; }

.h200 {
  height: 200px; }

.h250 {
  height: 250px; }

.h300 {
  height: 300px; }

.h350 {
  height: 350px; }

.h400 {
  height: 400px; }

.h450 {
  height: 450px; }

.h500 {
  height: 500px; }

.h550 {
  height: 550px; }

.h600 {
  height: 600px; }

.h650 {
  height: 650px; }

.h700 {
  height: 700px; }

.h750 {
  height: 750px; }

.h800 {
  height: 800px; }

.h850 {
  height: 850px; }

.h900 {
  height: 900px; }

.h950 {
  height: 950px; }

.h1000 {
  height: 1000px; }

.hp10 {
  height: 10%; }

.hp20 {
  height: 20%; }

.hp30 {
  height: 30%; }

.hp40 {
  height: 40%; }

.hp50 {
  height: 50%; }

.hp60 {
  height: 60%; }

.hp70 {
  height: 70%; }

.hp80 {
  height: 80%; }

.hp90 {
  height: 90%; }

.hp100 {
  height: 100%; }

/* min-width */
.miw0 {
  min-width: 0px; }

.miw10 {
  min-width: 10px; }

.miw20 {
  min-width: 20px; }

.miw30 {
  min-width: 30px; }

.miw40 {
  min-width: 40px; }

.miw50 {
  min-width: 50px; }

.miw60 {
  min-width: 60px; }

.miw70 {
  min-width: 70px; }

.miw80 {
  min-width: 80px; }

.miw90 {
  min-width: 90px; }

.miw100 {
  min-width: 100px; }

.miw110 {
  min-width: 110px; }

.miw120 {
  min-width: 120px; }

.miw130 {
  min-width: 130px; }

.miw140 {
  min-width: 140px; }

.miw150 {
  min-width: 150px; }

.miw160 {
  min-width: 160px; }

.miw170 {
  min-width: 170px; }

.miw180 {
  min-width: 180px; }

.miw190 {
  min-width: 190px; }

.miw200 {
  min-width: 200px; }

/* max-width */
.mw0 {
  max-width: none; }

.mw5 {
  max-width: 5px; }

.mw10 {
  max-width: 10px; }

.mw15 {
  max-width: 15px; }

.mw20 {
  max-width: 20px; }

.mw25 {
  max-width: 25px; }

.mw30 {
  max-width: 30px; }

.mw35 {
  max-width: 35px; }

.mw40 {
  max-width: 40px; }

.mw45 {
  max-width: 45px; }

.mw50 {
  max-width: 50px; }

.mw55 {
  max-width: 55px; }

.mw60 {
  max-width: 60px; }

.mw65 {
  max-width: 65px; }

.mw70 {
  max-width: 70px; }

.mw75 {
  max-width: 75px; }

.mw80 {
  max-width: 80px; }

.mw85 {
  max-width: 85px; }

.mw90 {
  max-width: 90px; }

.mw95 {
  max-width: 95px; }

.mw100 {
  max-width: 100px; }

.mw110 {
  max-width: 110px; }

.mw120 {
  max-width: 120px; }

.mw130 {
  max-width: 130px; }

.mw140 {
  max-width: 140px; }

.mw150 {
  max-width: 150px; }

.mw160 {
  max-width: 160px; }

.mw170 {
  max-width: 170px; }

.mw180 {
  max-width: 180px; }

.mw190 {
  max-width: 190px; }

.mw200 {
  max-width: 200px; }

.mw210 {
  max-width: 210px; }

.mw220 {
  max-width: 220px; }

.mw230 {
  max-width: 230px; }

.mw240 {
  max-width: 240px; }

.mw250 {
  max-width: 250px; }

.mw260 {
  max-width: 260px; }

.mw270 {
  max-width: 270px; }

.mw280 {
  max-width: 280px; }

.mw290 {
  max-width: 290px; }

.mw300 {
  max-width: 300px; }

.mw310 {
  max-width: 310px; }

.mw320 {
  max-width: 320px; }

.mw330 {
  max-width: 330px; }

.mw340 {
  max-width: 340px; }

.mw350 {
  max-width: 350px; }

.mw360 {
  max-width: 360px; }

.mw370 {
  max-width: 370px; }

.mw380 {
  max-width: 380px; }

.mw390 {
  max-width: 390px; }

.mw400 {
  max-width: 400px; }

.mw410 {
  max-width: 410px; }

.mw420 {
  max-width: 420px; }

.mw430 {
  max-width: 430px; }

.mw440 {
  max-width: 440px; }

.mw450 {
  max-width: 450px; }

.mw460 {
  max-width: 460px; }

.mw470 {
  max-width: 470px; }

.mw480 {
  max-width: 480px; }

.mw490 {
  max-width: 490px; }

.mw500 {
  max-width: 500px; }

.mw600 {
  max-width: 600px; }

.mw700 {
  max-width: 700px; }

.mw800 {
  max-width: 800px; }

.mw900 {
  max-width: 900px; }

.mw1000 {
  max-width: 1000px; }

/* max-height */
.mh0 {
  max-height: none; }

.mh5 {
  max-height: 5px; }

.mh10 {
  max-height: 10px; }

.mh15 {
  max-height: 15px; }

.mh20 {
  max-height: 20px; }

.mh25 {
  max-height: 25px; }

.mh30 {
  max-height: 30px; }

.mh35 {
  max-height: 35px; }

.mh40 {
  max-height: 40px; }

.mh45 {
  max-height: 45px; }

.mh50 {
  max-height: 50px; }

.mh55 {
  max-height: 55px; }

.mh60 {
  max-height: 60px; }

.mh65 {
  max-height: 65px; }

.mh70 {
  max-height: 70px; }

.mh75 {
  max-height: 75px; }

.mh80 {
  max-height: 80px; }

.mh85 {
  max-height: 85px; }

.mh90 {
  max-height: 90px; }

.mh95 {
  max-height: 95px; }

.mh100 {
  max-height: 100px; }

.mh200 {
  max-height: 200px; }

.mh300 {
  max-height: 300px; }

.mh400 {
  max-height: 400px; }

.mh500 {
  max-height: 500px; }

.mh600 {
  max-height: 600px; }

.mh700 {
  max-height: 700px; }

.mh800 {
  max-height: 800px; }

.mh900 {
  max-height: 900px; }

.mh1000 {
  max-height: 1000px; }

/* top bottom left right */
.t0 {
  top: 0px; }

.t1 {
  top: 1px; }

.t2 {
  top: 2px; }

.t3 {
  top: 3px; }

.t4 {
  top: 4px; }

.t5 {
  top: 5px; }

.t6 {
  top: 6px; }

.t7 {
  top: 7px; }

.t8 {
  top: 8px; }

.t9 {
  top: 9px; }

.t10 {
  top: 10px; }

.t11 {
  top: 11px; }

.t12 {
  top: 12px; }

.t13 {
  top: 13px; }

.t14 {
  top: 14px; }

.t15 {
  top: 15px; }

.t16 {
  top: 16px; }

.t17 {
  top: 17px; }

.t18 {
  top: 18px; }

.t19 {
  top: 19px; }

.t20 {
  top: 20px; }

.t25 {
  top: 25px; }

.t30 {
  top: 30px; }

.t35 {
  top: 35px; }

.t40 {
  top: 40px; }

.t45 {
  top: 45px; }

.t50 {
  top: 50px; }

.b0 {
  bottom: 0px; }

.b1 {
  bottom: 1px; }

.b2 {
  bottom: 2px; }

.b3 {
  bottom: 3px; }

.b4 {
  bottom: 4px; }

.b5 {
  bottom: 5px; }

.b6 {
  bottom: 6px; }

.b7 {
  bottom: 7px; }

.b8 {
  bottom: 8px; }

.b9 {
  bottom: 9px; }

.b10 {
  bottom: 10px; }

.b11 {
  bottom: 11px; }

.b12 {
  bottom: 12px; }

.b13 {
  bottom: 13px; }

.b14 {
  bottom: 14px; }

.b15 {
  bottom: 15px; }

.b16 {
  bottom: 16px; }

.b17 {
  bottom: 17px; }

.b18 {
  bottom: 18px; }

.b19 {
  bottom: 19px; }

.b20 {
  bottom: 20px; }

.b25 {
  bottom: 25px; }

.b30 {
  bottom: 30px; }

.b35 {
  bottom: 35px; }

.b40 {
  bottom: 40px; }

.b45 {
  bottom: 45px; }

.b50 {
  bottom: 50px; }

.l0 {
  left: 0px; }

.l1 {
  left: 1px; }

.l2 {
  left: 2px; }

.l3 {
  left: 3px; }

.l4 {
  left: 4px; }

.l5 {
  left: 5px; }

.l6 {
  left: 6px; }

.l7 {
  left: 7px; }

.l8 {
  left: 8px; }

.l9 {
  left: 9px; }

.l10 {
  left: 10px; }

.l11 {
  left: 11px; }

.l12 {
  left: 12px; }

.l13 {
  left: 13px; }

.l14 {
  left: 14px; }

.l15 {
  left: 15px; }

.l16 {
  left: 16px; }

.l17 {
  left: 17px; }

.l18 {
  left: 18px; }

.l19 {
  left: 19px; }

.l20 {
  left: 20px; }

.l25 {
  left: 25px; }

.l30 {
  left: 30px; }

.l35 {
  left: 35px; }

.l40 {
  left: 40px; }

.l45 {
  left: 45px; }

.l50 {
  left: 50px; }

.r0 {
  right: 0px; }

.r1 {
  right: 1px; }

.r2 {
  right: 2px; }

.r3 {
  right: 3px; }

.r4 {
  right: 4px; }

.r5 {
  right: 5px; }

.r6 {
  right: 6px; }

.r7 {
  right: 7px; }

.r8 {
  right: 8px; }

.r9 {
  right: 9px; }

.r10 {
  right: 10px; }

.r11 {
  right: 11px; }

.r12 {
  right: 12px; }

.r13 {
  right: 13px; }

.r14 {
  right: 14px; }

.r15 {
  right: 15px; }

.r16 {
  right: 16px; }

.r17 {
  right: 17px; }

.r18 {
  right: 18px; }

.r19 {
  right: 19px; }

.r20 {
  right: 20px; }

.r25 {
  right: 25px; }

.r30 {
  right: 30px; }

.r35 {
  right: 35px; }

.r40 {
  right: 40px; }

.r45 {
  right: 45px; }

.r50 {
  right: 50px; }

/* margin */
.m0 {
  margin: 0px; }

.m1 {
  margin: 1px; }

.m2 {
  margin: 2px; }

.m3 {
  margin: 3px; }

.m4 {
  margin: 4px; }

.m5 {
  margin: 5px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.mt-100 {
  margin-top: -100px; }

.mt-95 {
  margin-top: -95px; }

.mt-90 {
  margin-top: -90px; }

.mt-85 {
  margin-top: -85px; }

.mt-80 {
  margin-top: -80px; }

.mt-75 {
  margin-top: -75px; }

.mt-70 {
  margin-top: -70px; }

.mt-65 {
  margin-top: -65px; }

.mt-60 {
  margin-top: -60px; }

.mt-55 {
  margin-top: -55px; }

.mt-50 {
  margin-top: -50px; }

.mt-45 {
  margin-top: -45px; }

.mt-40 {
  margin-top: -40px; }

.mt-35 {
  margin-top: -35px; }

.mt-30 {
  margin-top: -30px; }

.mt-25 {
  margin-top: -25px; }

.mt-20 {
  margin-top: -20px; }

.mt-15 {
  margin-top: -15px; }

.mt-10 {
  margin-top: -10px; }

.mt-5 {
  margin-top: -5px; }

.mt0 {
  margin-top: 0px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mb-100 {
  margin-bottom: -100px; }

.mb-95 {
  margin-bottom: -95px; }

.mb-90 {
  margin-bottom: -90px; }

.mb-85 {
  margin-bottom: -85px; }

.mb-80 {
  margin-bottom: -80px; }

.mb-75 {
  margin-bottom: -75px; }

.mb-70 {
  margin-bottom: -70px; }

.mb-65 {
  margin-bottom: -65px; }

.mb-60 {
  margin-bottom: -60px; }

.mb-55 {
  margin-bottom: -55px; }

.mb-50 {
  margin-bottom: -50px; }

.mb-45 {
  margin-bottom: -45px; }

.mb-40 {
  margin-bottom: -40px; }

.mb-35 {
  margin-bottom: -35px; }

.mb-30 {
  margin-bottom: -30px; }

.mb-25 {
  margin-bottom: -25px; }

.mb-20 {
  margin-bottom: -20px; }

.mb-15 {
  margin-bottom: -15px; }

.mb-10 {
  margin-bottom: -10px; }

.mb-5 {
  margin-bottom: -5px; }

.mb0 {
  margin-bottom: 0px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.ml-100 {
  margin-left: -100px; }

.ml-95 {
  margin-left: -95px; }

.ml-90 {
  margin-left: -90px; }

.ml-85 {
  margin-left: -85px; }

.ml-80 {
  margin-left: -80px; }

.ml-75 {
  margin-left: -75px; }

.ml-70 {
  margin-left: -70px; }

.ml-65 {
  margin-left: -65px; }

.ml-60 {
  margin-left: -60px; }

.ml-55 {
  margin-left: -55px; }

.ml-50 {
  margin-left: -50px; }

.ml-45 {
  margin-left: -45px; }

.ml-40 {
  margin-left: -40px; }

.ml-35 {
  margin-left: -35px; }

.ml-30 {
  margin-left: -30px; }

.ml-25 {
  margin-left: -25px; }

.ml-20 {
  margin-left: -20px; }

.ml-15 {
  margin-left: -15px; }

.ml-10 {
  margin-left: -10px; }

.ml-5 {
  margin-left: -5px; }

.ml0 {
  margin-left: 0px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.mr-100 {
  margin-right: -100px; }

.mr-95 {
  margin-right: -95px; }

.mr-90 {
  margin-right: -90px; }

.mr-85 {
  margin-right: -85px; }

.mr-80 {
  margin-right: -80px; }

.mr-75 {
  margin-right: -75px; }

.mr-70 {
  margin-right: -70px; }

.mr-65 {
  margin-right: -65px; }

.mr-60 {
  margin-right: -60px; }

.mr-55 {
  margin-right: -55px; }

.mr-50 {
  margin-right: -50px; }

.mr-45 {
  margin-right: -45px; }

.mr-40 {
  margin-right: -40px; }

.mr-35 {
  margin-right: -35px; }

.mr-30 {
  margin-right: -30px; }

.mr-25 {
  margin-right: -25px; }

.mr-20 {
  margin-right: -20px; }

.mr-15 {
  margin-right: -15px; }

.mr-10 {
  margin-right: -10px; }

.mr-5 {
  margin-right: -5px; }

.mr0 {
  margin-right: 0px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mtb-20 {
  margin-top: -20px;
  margin-bottom: -20px; }

.mtb-15 {
  margin-top: -15px;
  margin-bottom: -15px; }

.mtb-10 {
  margin-top: -10px;
  margin-bottom: -10px; }

.mtb-5 {
  margin-top: -5px;
  margin-bottom: -5px; }

.mtb0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mtb15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mlr-20 {
  margin-left: -20px;
  margin-right: -20px; }

.mlr-15 {
  margin-left: -15px;
  margin-right: -15px; }

.mlr-10 {
  margin-left: -10px;
  margin-right: -10px; }

.mlr-5 {
  margin-left: -5px;
  margin-right: -5px; }

.mlr0 {
  margin-left: 0px;
  margin-right: 0px; }

.mlr5 {
  margin-left: 5px;
  margin-right: 5px; }

.mlr10 {
  margin-left: 10px;
  margin-right: 10px; }

.mlr15 {
  margin-left: 15px;
  margin-right: 15px; }

.mlr20 {
  margin-left: 20px;
  margin-right: 20px; }

/* padding */
.p0 {
  padding: 0px; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.pt0 {
  padding-top: 0px; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pb0 {
  padding-bottom: 0px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pl0 {
  padding-left: 0px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pr0 {
  padding-right: 0px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.ptb0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.plr0 {
  padding-left: 0px;
  padding-right: 0px; }

.plr5 {
  padding-left: 5px;
  padding-right: 5px; }

.plr10 {
  padding-left: 10px;
  padding-right: 10px; }

.plr15 {
  padding-left: 15px;
  padding-right: 15px; }

.plr20 {
  padding-left: 20px;
  padding-right: 20px; }

/* font-size */
.fz10 {
  font-size: 10px; }

.fz12 {
  font-size: 12px; }

.fz14 {
  font-size: 14px; }

.fz16 {
  font-size: 16px; }

.fz18 {
  font-size: 18px; }

.fz20 {
  font-size: 20px; }

.fz24 {
  font-size: 24px; }

.fz28 {
  font-size: 28px; }

.fz32 {
  font-size: 32px; }

.fz36 {
  font-size: 36px; }

.fz40 {
  font-size: 40px; }

.fz50 {
  font-size: 50px; }

.fz60 {
  font-size: 60px; }

.fz70 {
  font-size: 70px; }

.fz80 {
  font-size: 80px; }

.fz90 {
  font-size: 90px; }

.fz100 {
  font-size: 100px; }

/* font-weight */
.fw100 {
  font-weight: 100; }

.fw200 {
  font-weight: 200; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400; }

.fw500 {
  font-weight: 500; }

.fw600 {
  font-weight: 600; }

.fw700 {
  font-weight: 700; }

.fw800 {
  font-weight: 800; }

.fw900 {
  font-weight: 900; }

/* line-height */
.lh100 {
  line-height: 1em; }

.lh110 {
  line-height: 1.1em; }

.lh142 {
  line-height: 1.42em; }

.lh150 {
  line-height: 1.5em; }

.lh170 {
  line-height: 1.7em; }

.lh180 {
  line-height: 1.8em; }

.lh200 {
  line-height: 2em; }

/* list-style-type */
.lst-none {
  list-style-type: none;
  -webkit-padding-start: 0px; }

.lst-disc {
  list-style-type: disc; }

.lst-circle {
  list-style-type: circle; }

.lst-square {
  list-style-type: square; }

/* cursor */
.cursor-none {
  cursor: none; }

.cursor-auto {
  cursor: auto; }

.cursor-default {
  cursor: default; }

.cursor-pointer {
  cursor: pointer; }

.cursor-move {
  cursor: move; }

.cursor-crosshair {
  cursor: crosshair; }

/* border */
.border-none {
  border: none; }

.border-solid {
  border-style: solid; }

.border-dotted {
  border-style: dotted; }

.border-dashed {
  border-style: dashed; }

.border-double {
  border-style: double; }

.border-1solid-ddd {
  border: 1px solid #ddd; }

.border-1dotted-ddd {
  border: 1px dotted #ddd; }

.border-1dashed-ddd {
  border: 1px dashed #ddd; }

.border-1double-ddd {
  border: 1px double #ddd; }

.border-tsolid {
  border-top: 1px solid #ddd; }

.border-tdotted {
  border-top: 1px dotted #ddd; }

.border-tdashed {
  border-top: 1px dashed #ddd; }

.border-tdouble {
  border-top: 1px double #ddd; }

.border-bsolid {
  border-bottom: 1px solid #ddd; }

.border-bdotted {
  border-bottom: 1px dotted #ddd; }

.border-bdashed {
  border-bottom: 1px dashed #ddd; }

.border-bdouble {
  border-bottom: 1px double #ddd; }

.border-lsolid {
  border-left: 1px solid #ddd; }

.border-ldotted {
  border-left: 1px dotted #ddd; }

.border-ldashed {
  border-left: 1px dashed #ddd; }

.border-ldouble {
  border-left: 1px double #ddd; }

.border-rsolid {
  border-right: 1px solid #ddd; }

.border-rdotted {
  border-right: 1px dotted #ddd; }

.border-rdashed {
  border-right: 1px dashed #ddd; }

.border-rdouble {
  border-right: 1px double #ddd; }

.border0 {
  border-width: 0px; }

.border1 {
  border-width: 1px; }

.border2 {
  border-width: 2px; }

.border3 {
  border-width: 3px; }

.border4 {
  border-width: 4px; }

.border5 {
  border-width: 5px; }

.border-c000 {
  border-color: #000; }

.border-c00f {
  border-color: #00f; }

.border-c078 {
  border-color: #078; }

.border-c0f0 {
  border-color: #0f0; }

.border-c999 {
  border-color: #999; }

.border-ca0a {
  border-color: #a0a; }

.border-cddd {
  border-color: #ddd; }

.border-ceee {
  border-color: #eee; }

.border-cf00 {
  border-color: #f00; }

.border-cf50 {
  border-color: #f50; }

.border-cff0 {
  border-color: #ff0; }

.border-cfff {
  border-color: #fff; }

.border-c3b8cf8 {
  border-color: #3b8cf8; }

.border-ce4e4e4 {
  border-color: #e4e4e4; }

.border-ce8e8e8 {
  border-color: #e8e8e8; }

.border-r0 {
  border-radius: 0px; }

.border-r2 {
  border-radius: 2px; }

.border-r4 {
  border-radius: 4px; }

.border-r6 {
  border-radius: 6px; }

.border-tlrr0 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }

.border-tlrr2 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px; }

.border-tlrr4 {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.border-tlrr6 {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.border-blrr0 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.border-blrr2 {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px; }

.border-blrr4 {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.border-blrr6 {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }

/* position */
.pst-fixed {
  position: fixed; }

.pst-relative {
  position: relative; }

.pst-static {
  position: static; }

.pst-absolute {
  position: absolute; }

.pst-inherit {
  position: inherit; }

/* display */
.dsp-none {
  display: none; }

.dsp-initial {
  display: initial; }

.dsp-inline {
  display: inline; }

.dsp-block {
  display: block; }

.dsp-table {
  display: table; }

.dsp-inline-block {
  display: inline-block; }

/* vertical-align */
.va-auto {
  vertical-align: auto; }

.va-initial {
  vertical-align: initial; }

.va-top {
  vertical-align: top; }

.va-middle {
  vertical-align: middle; }

.va-baseline {
  vertical-align: baseline; }

.va-bottom {
  vertical-align: bottom; }

/* color */
.tc-transparent {
  color: transparent; }

.tc-red {
  color: red; }

.tc-blue {
  color: blue; }

.tc-gold {
  color: gold; }

.tc-orange {
  color: orange; }

.tc-yellow {
  color: yellow; }

.tc-green {
  color: green; }

.tc-black {
  color: black; }

.tc-white {
  color: white; }

.tc-grey {
  color: grey; }

/* background-color */
.bg-transparent {
  background-color: transparent; }

.bg-red {
  background-color: red; }

.bg-blue {
  background-color: blue; }

.bg-gold {
  background-color: gold; }

.bg-orange {
  background-color: orange; }

.bg-yellow {
  background-color: yellow; }

.bg-green {
  background-color: green; }

.bg-black {
  background-color: black; }

.bg-white {
  background-color: white; }

.bg-grey {
  background-color: grey; }

.bg-000, .bgh-000:hover {
  background-color: #000; }

.bg-00f, .bgh-00f:hover {
  background-color: #00f; }

.bg-078, .bgh-078:hover {
  background-color: #078; }

.bg-0f0, .bgh-0f0:hover {
  background-color: #0f0; }

.bg-999, .bgh-999:hover {
  background-color: #999; }

.bg-a0a, .bgh-a0a:hover {
  background-color: #a0a; }

.bg-ddd, .bgh-ddd:hover {
  background-color: #ddd; }

.bg-eee, .bgh-eee:hover {
  background-color: #eee; }

.bg-f00, .bgh-f00:hover {
  background-color: #f00; }

.bg-f50, .bgh-f50:hover {
  background-color: #f50; }

.bg-ff0, .bgh-ff0:hover {
  background-color: #ff0; }

.bg-fff, .bgh-fff:hover {
  background-color: #fff; }

.bg-3b8cf8, .bgh-3b8cf8:hover {
  background-color: #3b8cf8; }

.bg-e4e4e4, .bgh-e4e4e4:hover {
  background-color: #e4e4e4; }

.bg-e8e8e8, .bgh-e8e8e8:hover {
  background-color: #e8e8e8; }

/* overflow */
.of-auto {
  overflow: auto; }

.ofx-auto {
  overflow-x: auto; }

.ofy-auto {
  overflow-y: auto; }

.of-scroll {
  overflow: scroll; }

.ofx-scroll {
  overflow-x: scroll; }

.ofy-scroll {
  overflow-y: scroll; }

.of-visible {
  overflow: visible; }

.ofx-visible {
  overflow-x: visible; }

.ofy-visible {
  overflow-y: visible; }

.of-hidden {
  overflow: hidden; }

.ofx-hidden {
  overflow-x: hidden; }

.ofy-hidden {
  overflow-y: hidden; }

/* white-space */
.ws-normal {
  white-space: normal; }

.ws-nowrap {
  white-space: nowrap; }

.ws-pre {
  white-space: pre; }

.ws-preline {
  white-space: pre-line; }

.ws-prewrap {
  white-space: pre-wrap; }

.ws-inherit {
  white-space: inherit; }

/* 滑动切换checkbox */
.switch-check {
  display: none; }
  .switch-check + label {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 34px;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 22px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    .switch-check + label:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 32px;
      height: 32px;
      border: 1px #ddd solid;
      border-radius: 22px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out; }
  .switch-check:disabled + label, .switch-check.disabled + label {
    cursor: not-allowed;
    opacity: .75; }
  .switch-check:checked + label {
    background: #3c6;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    .switch-check:checked + label:after {
      top: 1px;
      left: 27px;
      width: 30px;
      height: 30px;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in; }
  .switch-check.switch-check-lg + label {
    width: 80px;
    height: 46px; }
    .switch-check.switch-check-lg + label:after {
      width: 44px;
      height: 44px; }
  .switch-check.switch-check-lg:checked + label:after {
    top: 1px;
    left: 35px;
    width: 42px;
    height: 42px; }
  .switch-check.switch-check-sm + label {
    width: 50px;
    height: 30px; }
    .switch-check.switch-check-sm + label:after {
      width: 28px;
      height: 28px; }
  .switch-check.switch-check-sm:checked + label:after {
    top: 1px;
    left: 21px;
    width: 26px;
    height: 26px; }
  .switch-check.switch-check-xs + label {
    width: 40px;
    height: 20px; }
    .switch-check.switch-check-xs + label:after {
      width: 18px;
      height: 18px; }
  .switch-check.switch-check-xs:checked + label:after {
    top: 1px;
    left: 21px;
    width: 16px;
    height: 16px; }

/* 横向列表 */
.list-inline .list-item .list-item-remove, .list-inline .list-item .list-item-move-left, .list-inline .list-item .list-item-move-right {
  display: none;
  position: absolute;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.1); }
.list-inline .list-item {
  display: block;
  float: left;
  position: relative;
  padding: 6px 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  min-height: 33.6px; }
  .list-inline .list-item .list-item-template {
    display: none; }
  .list-inline .list-item .list-item-remove {
    right: 0;
    top: 0; }
    .list-inline .list-item .list-item-remove:hover {
      color: #f00; }
  .list-inline .list-item .list-item-move-left {
    left: 0;
    top: auto;
    bottom: 0; }
    .list-inline .list-item .list-item-move-left:hover {
      color: #F60; }
  .list-inline .list-item .list-item-move-right {
    right: 0;
    top: auto;
    bottom: 0; }
    .list-inline .list-item .list-item-move-right:hover {
      color: #F60; }
  .list-inline .list-item .list-item-edit {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    border: none;
    background-color: transparent;
    text-align: center; }
    .list-inline .list-item .list-item-edit:focus {
      display: initial;
      font-size: 90%; }
      .list-inline .list-item .list-item-edit:focus + .list-item-static {
        color: transparent; }
  .list-inline .list-item:hover .list-item-remove, .list-inline .list-item:hover .list-item-move-left, .list-inline .list-item:hover .list-item-move-right {
    display: inline-block; }
  .list-inline .list-item:hover .list-item-static {
    color: transparent; }
  .list-inline .list-item:hover .list-item-edit {
    display: block; }

/* 超长文字隐藏 */
.text-overhide {
  display: block;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

/* 必要标志 */
.required {
  display: inline-block; }
  .required:after {
    content: "*";
    top: 2px;
    position: relative;
    left: 7px;
    margin-left: -7px;
    color: red; }

/* 表格样式 */
.th-tac th {
  text-align: center; }

.th-tar th {
  text-align: right; }

.th-tal th {
  text-align: left; }

/* input 三角符号 */
.input-caret {
  max-width: 100%; }

.input-caret:after {
  content: ' ';
  display: block;
  clear: left;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent; }
